*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif;
  }
  
.contanier{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
    flex-direction: column;
    color: white;
}

.clickButton{
    background-color: #61dafb;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5rem;
    margin-top: 20px;
}

.quoteContainer{
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
    background-color: #61dafb;
    color: black;
    width: 50%;
    text-align: center;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightblue;
    padding: 10px 20px;
}

a{
    color: white;
    text-decoration: none;
}